# Virtual environments
venv/
.venv/
*/venv/
*/.venv/
resume_analyzer311/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db